page-identification {

}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.identification-content {
  background-color: #FFFFAA;
}



.navigation {
  bottom: 0;
}

#species_name {
  text-align: center;
}
