page-identification {

}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.identification-content {
  background-color: #FFFFAA;
}



.navigation {
  bottom: 0;
}

#species_name {
  text-align: center;
}

button {
  width: 40%;
}

.fixed-button {
  position: fixed;
  bottom: 10px;
}

h3 {
  margin-bottom: 50px;
}
