page-identification {

}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.identification-content {
  background-color: #FFFFAA;
}

ion-slides {
  height: 400px;
}

.navigation {
  bottom: 0px;
}
