.custom-icon {
  color: black;
}

ion-toolbar {
  text-align: center;
}

#profile-img {
  width: 100px;
  height: 100px;
}

#name {
  font-size: 150%;
}

.profile-content {
  background-color: #FFFDE7;
}
