page-home {

}

.logo {
  margin-top: 20px;
  margin-bottom: 30px;
}

.login-content {
  background-color: #FFFFAA;
}

.login-input {
  background-color: #FFFDE7;
}

ion-label {
  color: #757575;
}

.login-button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 0px;
  background-color: #FFD600;
}

.password-reset {
  color: #757575;
  height: 100%;
  display: block;
  vertical-align: middle;
}
