page-home {

}

.logo {
  margin-top: 20px;
  margin-bottom: 30px;
}

.login-content {
  background-color: #FFFFAA;
}

.login-input {
  background-color: #FFFDE7;
}

ion-label {
  color: #000000;
}

.login-button {
  width: 100%;
  margin-top: 30px;
  border-radius: 0px;
  background-color: #FFD600;
}
