page-home {

}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-options {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.login-content {
  background-color: #FFFFAA;
}

.login-input {
  background-color: #FFFDE7;
}

ion-label {
  color: #757575;
}

.login-button {
  width: 100%;
  margin-top: 30px;
  border-radius: 0;
  background-color: #FFD600;
}

.password-reset {
  color: #757575;
  font-style: italic;
}
