page-camera {
  ion-content {
    background-color: transparent;
  }
}

.camera-content {
  background-color: #000000;
}

.fixed-button {
  position: fixed;
  bottom: 10px;
}

.camera-button {
  background-color: #FFD600;
}
